<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductosPortBinding" />
                <binding name="ProductosVariantesPortBinding" />
                <binding name="ColoresPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/KawkiWebWS/ProductosService"
                binding="basicHttpBinding" bindingConfiguration="ProductosPortBinding"
                contract="KawkiWebWSProductos.Productos" name="ProductosPort" />
            <endpoint address="http://localhost:8080/KawkiWebWS/ProductosVariantesService"
                binding="basicHttpBinding" bindingConfiguration="ProductosVariantesPortBinding"
                contract="KawkiWebWSProductosVariantes.ProductosVariantes"
                name="ProductosVariantesPort" />
            <endpoint address="http://localhost:8080/KawkiWebWS/ColoresService"
                binding="basicHttpBinding" bindingConfiguration="ColoresPortBinding"
                contract="KawkiWebWSColores.Colores" name="ColoresPort" />
        </client>
    </system.serviceModel>
</configuration>