<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductosPortBinding" />
                <binding name="ProductosVariantesPortBinding" />
                <binding name="ColoresPortBinding" />
                <binding name="CategoriasPortBinding" />
                <binding name="EstilosPortBinding" />
                <binding name="TallasPortBinding" />
                <binding name="UsuariosPortBinding" />
                <binding name="VentasPortBinding" />
                <binding name="DetalleVentasPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/KawkiWebWS/ProductosService"
                binding="basicHttpBinding" bindingConfiguration="ProductosPortBinding"
                contract="KawkiWebWSProductos.Productos" name="ProductosPort" />
            <endpoint address="http://localhost:8080/KawkiWebWS/ProductosVariantesService"
                binding="basicHttpBinding" bindingConfiguration="ProductosVariantesPortBinding"
                contract="KawkiWebWSProductosVariantes.ProductosVariantes"
                name="ProductosVariantesPort" />
            <endpoint address="http://localhost:8080/KawkiWebWS/ColoresService"
                binding="basicHttpBinding" bindingConfiguration="ColoresPortBinding"
                contract="KawkiWebWSColores.Colores" name="ColoresPort" />
            <endpoint address="http://localhost:8080/KawkiWebWS/CategoriasService"
                binding="basicHttpBinding" bindingConfiguration="CategoriasPortBinding"
                contract="KawkiWebWSCategorias.Categorias" name="CategoriasPort" />
            <endpoint address="http://localhost:8080/KawkiWebWS/EstilosService"
                binding="basicHttpBinding" bindingConfiguration="EstilosPortBinding"
                contract="KawkiWebWSEstilos.Estilos" name="EstilosPort" />
            <endpoint address="http://localhost:8080/KawkiWebWS/TallasService"
                binding="basicHttpBinding" bindingConfiguration="TallasPortBinding"
                contract="KawkiWebWSTallas.Tallas" name="TallasPort" />
            <endpoint address="http://localhost:8080/KawkiWebWS/UsuariosService"
                binding="basicHttpBinding" bindingConfiguration="UsuariosPortBinding"
                contract="KawkiWebWSUsuarios.Usuarios" name="UsuariosPort" />
            <endpoint address="http://localhost:8080/KawkiWebWS/VentasService"
                binding="basicHttpBinding" bindingConfiguration="VentasPortBinding"
                contract="KawkiWebWSVentas.Ventas" name="VentasPort" />
            <endpoint address="http://localhost:8080/KawkiWebWS/DetalleVentasService"
                binding="basicHttpBinding" bindingConfiguration="DetalleVentasPortBinding"
                contract="KawkiWebWSDetalleVentas.DetalleVentas" name="DetalleVentasPort" />
        </client>
    </system.serviceModel>
</configuration>