<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ProductosPortBinding" />
				<binding name="ProductosVariantesPortBinding" />
				<binding name="ColoresPortBinding" />
				<binding name="UsuariosPortBinding" />
				<binding name="VentasPortBinding" />
				<binding name="DetalleVentasPortBinding" />
				<binding name="ComprobantesPagoPortBinding" />
				<binding name="DescuentosPortBinding" />
				<binding name="MovimientosInventarioPortBinding" />
				<binding name="RedesSocialesPortBinding" />
				<binding name="TiposMovimientoPortBinding" />
				<binding name="TiposCondicionPortBinding" />
				<binding name="TiposComprobantePortBinding" />
				<binding name="TiposBeneficioPortBinding" />
				<binding name="TiposUsuarioPortBinding" />
				<binding name="MetodosPagoPortBinding" />
				<binding name="EstilosPortBinding" />
				<binding name="CategoriasPortBinding" />
				<binding name="TallasPortBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8080/KawkiWebWS/ProductosService"
                binding="basicHttpBinding" bindingConfiguration="ProductosPortBinding"
                contract="KawkiWebWSProductos.Productos" name="ProductosPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/ProductosVariantesService"
                binding="basicHttpBinding" bindingConfiguration="ProductosVariantesPortBinding"
                contract="KawkiWebWSProductosVariantes.ProductosVariantes"
                name="ProductosVariantesPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/ColoresService"
                binding="basicHttpBinding" bindingConfiguration="ColoresPortBinding"
                contract="KawkiWebWSColores.Colores" name="ColoresPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/VentasService"
                binding="basicHttpBinding" bindingConfiguration="VentasPortBinding"
                contract="KawkiWebWSVentas.Ventas" name="VentasPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/DetalleVentasService"
                binding="basicHttpBinding" bindingConfiguration="DetalleVentasPortBinding"
                contract="KawkiWebWSDetalleVentas.DetalleVentas" name="DetalleVentasPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/ComprobantesPagoService"
                binding="basicHttpBinding" bindingConfiguration="ComprobantesPagoPortBinding"
                contract="KawkiWebWSComprobantesPago.ComprobantesPago" name="ComprobantesPagoPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/UsuariosService"
                binding="basicHttpBinding" bindingConfiguration="UsuariosPortBinding"
                contract="KawkiWebWSUsuarios.Usuarios" name="UsuariosPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/DescuentosService"
                binding="basicHttpBinding" bindingConfiguration="DescuentosPortBinding"
                contract="KawkiWebWSDescuentos.Descuentos" name="DescuentosPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/MovimientosInventarioService"
                binding="basicHttpBinding" bindingConfiguration="MovimientosInventarioPortBinding"
                contract="KawkiWebWSMovimientosInventario.MovimientosInventario"
                name="MovimientosInventarioPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/RedesSocialesService"
                binding="basicHttpBinding" bindingConfiguration="RedesSocialesPortBinding"
                contract="KawkiWebWSRedesSociales.RedesSociales" name="RedesSocialesPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/TiposMovimientoService"
                binding="basicHttpBinding" bindingConfiguration="TiposMovimientoPortBinding"
                contract="KawkiWebWSTiposMovimiento.TiposMovimiento" name="TiposMovimientoPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/TiposCondicionService"
                binding="basicHttpBinding" bindingConfiguration="TiposCondicionPortBinding"
                contract="KawkiWebWSTiposCondicion.TiposCondicion" name="TiposCondicionPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/TiposComprobanteService"
                binding="basicHttpBinding" bindingConfiguration="TiposComprobantePortBinding"
                contract="KawkiWebWSTiposComprobante.TiposComprobante" name="TiposComprobantePort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/TiposBeneficioService"
                binding="basicHttpBinding" bindingConfiguration="TiposBeneficioPortBinding"
                contract="KawkiWebWSTiposBeneficio.TiposBeneficio" name="TiposBeneficioPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/TiposUsuarioService"
                binding="basicHttpBinding" bindingConfiguration="TiposUsuarioPortBinding"
                contract="KawkiWebWSTiposUsuario.TiposUsuario" name="TiposUsuarioPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/MetodosPagoService"
                binding="basicHttpBinding" bindingConfiguration="MetodosPagoPortBinding"
                contract="KawkiWebWSMetodosPago.MetodosPago" name="MetodosPagoPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/EstilosService"
                binding="basicHttpBinding" bindingConfiguration="EstilosPortBinding"
                contract="KawkiWebWSEstilos.Estilos" name="EstilosPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/CategoriasService"
                binding="basicHttpBinding" bindingConfiguration="CategoriasPortBinding"
                contract="KawkiWebWSCategorias.Categorias" name="CategoriasPort" />
			<endpoint address="http://localhost:8080/KawkiWebWS/TallasService"
                binding="basicHttpBinding" bindingConfiguration="TallasPortBinding"
                contract="KawkiWebWSTallas.Tallas" name="TallasPort" />
		</client>
	</system.serviceModel>
  <system.web>
    <customErrors mode="On" defaultRedirect="Error404.aspx">
      <error statusCode="404" redirect="Error404.aspx"/>
    </customErrors>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <caching>
      <profiles>
        <add extension=".aspx" policy="DisableCache" kernelCachePolicy="DisableCache"/>
      </profiles>
    </caching>
  </system.webServer>
</configuration>